@charset "UTF-8";

body{
    width: 100%;
}

table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

td{
    padding: 0px;
}

div.inline_block{
    /*改行しないようにする
    display: inline-block;
    */
    /*
    float: left;*/
    text-align: center;
    vertical-align: middle;
    margin: 0.5em;
}

.text_align_left{
    text-align: left;
}

.score_area{
    visibility: hidden;
}


.text{
    text-align: center;
    display: inline-block;
    color: rgb(245, 229, 182);
    letter-spacing:0.2em;
    margin: 0.2em;
    text-shadow: 
    black 2px 0px,  black -2px 0px,
    black 0px -2px, black 0px 2px,
    black 2px 2px , black -2px 2px,
    black 2px -2px, black -2px -2px,
    black 1px 2px,  black -1px 2px,
    black 1px -2px, black -1px -2px,
    black 2px 1px,  black -2px 1px,
    black 2px -1px, black -2px -1px;
}

.psychic_counter_area{
    position: absolute;
    top: 75%;
    left:37%;
    right:0;
    /*
    transform: translateY(-50%) translateX(-50%);

    margin: auto;
    text-align: center;
    vertical-align: middle;
    */
}

#spoon_img{
    max-width: 100%;
    height: auto;
    /*
    width: auto;
    max-height: 100%;
    */
}

.button_on_img{
    position: relative;
    /*display:flex;*/

}

.button_base{
    width: 100%;
}

#psychic_counter {
    visibility: hidden;
	position: relative;
	display: block;
	width: 120px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
    color: #FFF;
    font-weight: bold;
	background: #e89b55;
	border-bottom: 2px solid rgb(185, 101, 25);
	border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
}

#psychic_counter:active {
	border-bottom: 2px solid rgb(185, 101, 25);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#count_down {
	position: relative;
	display: block;
	width: 120px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
    color: #FFF;
    font-weight: bold;
	background: rgb(146, 188, 252);
	border-bottom: 2px solid rgb(146, 222, 252, 0.801);
	border-radius: 4px;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    
}

#count_down:active {
	border-bottom: 2px solid rgb(146, 222, 252, 0.801);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#desk_img{
    max-width: 80%;
    height: auto;
}

#window_img{
    max-width: 40%;
    height: auto;
}

.td_vertical_align_top{
    vertical-align:top;
}

.td_vertical_align_bottom{
    vertical-align:bottom;
}

.td_base{
    text-align: center;
    vertical-align: middle;
}


.office_area table{
    margin-left: auto;
    margin-right: auto;
}

/*
.desk_img_area, .button_on_img, .window_img_area{
    float: left;
}
*/


.balloon-left {
    visibility: hidden;
    position: absolute;
    display: inline-block;
    margin: 1.5em 0 1.5em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: black;
    font-size: 16px;
    background: #e0edff;
    top: 20%;
    left: 0;
    right: 0;
  }
  
  .balloon-left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-right: 15px solid #e0edff;
  }
  
  .balloon-left p {
    margin: 0;
    padding: 0;
  }

  .balloon-right {
    visibility: hidden;
    position: absolute;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: black;
    font-size: 16px;
    background: #e0edff;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .balloon-right:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid #e0edff;
  }
  
  .balloon-right p {
    margin: 0;
    padding: 0;
  }

  .balloon {
    visibility: hidden;
    position: absolute;
    display: inline-block;
    margin: 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: black;
    font-size: 16px;
    background: #e0edff;
    top: 20%;
    left: 0;
    right: 0;
  }
  
  .balloon:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top: 15px solid #e0edff;
  }
  
  .balloon p {
    margin: 0;
    padding: 0;
  }

  .block {
    visibility: hidden;
    position: absolute;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: black;
    font-size: 16px;
    background: #ffebe0;
    top: 0;
    left: 0;
    right: 0;
  }

