@charset "UTF-8";
#score_area{
    visibility: hidden;
}

#psychic_counter_area{
    position: absolute;
    top: 80%;
    right: 80%;
}

#spoon_img{
    height: 300px;
    widows: 100px;
}
.button_on_img{
    position: relative;
}